.container {
    padding: 50px;
    display: flex;
    gap: 10px;
  }
  
  .item {
    flex: 1;
  }
  
  .table {
    border: 1px solid rgba(0,0,0,0.4);
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table th {
    font-weight: 500;
  }

  .table tbody:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tr:hover {
    background-color: #ddd;
  }
  
  .table th {
    background-color: #04aa6d;
    color: white;
  }

  .button {
    width: 40px;
    border-radius: 20%;
    color: white;
    border: 0px solid #fff;
    padding: 5px;
    cursor: pointer;
  }
  
  .button2 {
    width: 100%;
    border: 0px solid #fff;
    color: white;
    padding: 5px;
    background-color: teal;
    cursor: pointer;
  }

  .button:first-child {
    background-color: teal;
    margin-right: 1px;
  }
  
  .button:last-child {
    background-color: crimson;
  }

  @media screen and (max-width: 750px) {
    .container {
      padding: 0 5px;
      height: auto;
      text-align: center;
      flex-direction: column-reverse;
      font-size: 75%;
    }
  }
  